<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("_ServerStatus")
    </div>
    <div class="panel-body">
        @Html.Action("RandomTip", "Home")
    </div>
    <div class="panel-body">
        @Html.Partial("_TopCritters")
    </div>
</div>
