<div class="panel panel-default">
    <div class="panel-body">
        @Html.Action("ServerStatus", "Home")
    </div>
    <div class="panel-body">
        @Html.Action("RandomTip", "Home")
    </div>
    <div class="panel-body">
        @Html.Action("TopCritters", "Home")
    </div>
</div>
