<div class="list-group">
    <div class="list-group-item active">
        <h4 class="list-group-item-heading" style="color:white">Server Status</h4>
    </div>
    <div class="list-group-item">
        <span class="badge" style="background-color: #d9534f">Down</span>
        Web Services
    </div>
    <div class="list-group-item">
        <span class="badge" style="background-color: #5cb85c">Up</span>
        Database
    </div>
    <div class="list-group-item">
        <span class="badge" style="background-color: #428bca">0</span>
        Peers
    </div>
</div>
