<table class="table">
    <tr>
        <td>
            <table class="table">
                <tr>
                    <td><span class="SubTitle">Web Services:</span></td>
                    <td align="center"><span id="servicesResults" runat="Server" /></td>
                </tr>
                <tr>
                    <td><span class="SubTitle">Database:</span></td>
                    <td align="center"><span id="databaseResults" runat="Server" /></td>
                </tr>
                <tr>
                    <td><span class="SubTitle">Peers:</span></td>
                    <td align="center"><span id="peerResults" runat="Server" /></td>
                </tr>
            </table>
        </td>
    </tr>
</table>