<div class="list-group">
    <div class="list-group-item active">
        <h4 class="list-group-item-heading" style="color:white">Top Critters</h4>
    </div>
    <div class="list-group-item">
        <b>Plant</b>
        <ol>
            <li>SpeciesName (10)</li>
            <li>SpeciesName (10)</li>
            <li>SpeciesName (10)</li>
        </ol>
    </div>
    <div class="list-group-item">
        <b>Herbivore</b>
        <ol>
            <li>SpeciesName (10)</li>
            <li>SpeciesName (10)</li>
            <li>SpeciesName (10)</li>
        </ol>
    </div>
    <div class="list-group-item">
        <b>Carnivore</b>
        <ol>
            <li>SpeciesName (10)</li>
            <li>SpeciesName (10)</li>
            <li>SpeciesName (10)</li>
        </ol>
    </div>
    <div class="list-group-item">
        @Html.ActionLink("more...", "Usage", "Home", new { @class = "small" })
    </div>
</div>
