<div class="list-group">
    <div class="list-group-item active">
        <h4 class="list-group-item-heading" style="color:white">Top Critters</h4>
    </div>
    <div class="list-group-item">
        <b>Carnivores</b>
        <ol>
            <li>Coming soon...</li>
        </ol>
    </div>
    <div class="list-group-item">
        <b>Herbivores</b>
        <ol>
            <li>Coming soon...</li>
        </ol>
    </div>
    <div class="list-group-item">
        <b>Plants</b>
        <ol>
            <li>Coming soon...</li>
        </ol>
    </div>
    <div class="list-group-item">
        @Html.ActionLink("more...", "Usage", "Home", new { @class = "small" })
    </div>
</div>
