@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome to .NET Terrarium</h1>
    <p class="lead">Terrarium provide a great way for developers to learn about the .NET programming model and languages as they develop creatures and introduce them into a peer-to-peer ecosystem.</p>
    <p><a href="https://github.com/terrariumapp" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<h2>Usage Statistics</h2>

<p>Available now is a page that you can use to track your usage statistics. Check it out <b>@Html.ActionLink("now", "Usage", "Home")</b>!</p>

<h2>Known Issues</h2>

<p>This is a list of known issues. This list will be updated as existing issues are resolved and new issues are discovered.</p>

<ul>
    <li>
        <b>Rendering Issues under Remote Desktop Connection</b><br />
        There are several artifacts and drawing problems that occur when running Terrarium
        via Remote Desktop Connection. Things like tool tips in the wrong spot or clipped,
        the world view being rendered incorrectly are a couple of known problems.
    </li>
</ul>
