<div class="jumbotron">
    <h1>Terrarium</h1>
    <p class="lead">Terrarium is a .NET game/learning tool that was aimed at getting people interested in .NET and building cool stuff.</p>
    <p><a href="https://github.com/terrariumapp" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
