@{
    ViewBag.Title = "Publish";
}

<table class="table">
    <tr>
        <td>
            <table class="table">
                <tr>
                    <td>
                        <h2>
                            Install Terrarium
                        </h2>
                        <br />
                        <p>
                            From this page you can install Terrarium by using Click-Once. Once deployed,
                            the application will keep itself updated automatically.
                        </p>
                        <table class="table">
                            <tr>
                                <td>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                            <b>Name:</b>
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            Terrarium
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>Version:</b>
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            2.0.50522.8
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>Publisher:</b>
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            Terrarium
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table id="BootstrapperSection" class="table">
                                                    <tr>
                                                        <td>
                                                            The following prerequisites are required:
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                        <td>
                                                            <ul>
                                                                <li>.NET Framework 4.5</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            If these components are already installed, you can <a href="Terrarium.application">launch</a>
                                                            the application now. Otherwise, click the button below to
                                                            install the prerequisites and run the application.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            <tr>
                                <td>
                                    <table class="table" onclick="window.navigate(InstallButton.href)">
                                        <tr>
                                            <td>
                                                <table class="table">
                                                    <tr>
                                                        <td>
                                                            <table class="table">
                                                                <tr>
                                                                    <td>
                                                                        <table class="table">
                                                                            <tr>
                                                                                <td></td>
                                                                                <td>
                                                                                    <a id="InstallButton" href="setup.exe"><b>Install</b></a>
                                                                                </td>
                                                                                <td></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td />
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
