@{
    ViewBag.Title = "Publish";
}

<h2>Install Terrarium</h2>

<div class="panel panel-default">
    <div class="panel-body">
        From this page you can install Terrarium by using Click-Once. Once deployed,
        the application will keep itself updated automatically.
    </div>
    <ul class="list-group">
        <li class="list-group-item">Name: Terrarium</li>
        <li class="list-group-item">Version: 2.0.50522.8</li>
        <li class="list-group-item">Install/Run: <a href="#">Coming Soon</a></li>
    </ul>
</div>
