@{
    ViewBag.Title = "UserInterface";
}

<h4>.NET Terrarium 1.2 User Interface Guide</h4>

<p>
    The purpose of this document is to familiarize you with the
    user interface of the Terrarium client.
</p>
<h5>Client Window</h5>
<p>
    The screenshot below shows what the user interface for the
    Terrarium 1.2 client looks like.  The window is broken down into several parts,
    which will be explained in detail later in the document.
</p>
<p align="center">
    <img src="~/Images/Documentation/image001.jpg" alt="" />
</p>
<h5>Top Bar</h5>
<p>
    The <b>Top Bar</b> is used primarily for display the current
    state of the Terrarium client.  It also functions as a traditional Windows title
    bar, providing minimize, maximize and close functionality.
</p>
<p align="center">
    <img src="~/images/Documentation/image002.jpg">
</p>
<h6>1. Game Mode</h6>
<p>
    This informs you of what mode the
    client is running in, Terrarium or Ecosystem, If you are in Ecosystem mode, it
    also informs you what server you are playing on, or if you are in Terrarium
    mode, what Terrarium file you are currently using.
</p>
<h6>2. Reporting Web Service LED</h6>
<p>
    This LED shows the status of the
    last Reporting Web Service call to the main Terrarium Server. This call tells
    the central Terrarium server how many of each type of Animal lives in your
    Terrarium so that the total number of each type of animal can be tallied at the
    server.
</p>
<p>
    An LED is a visual indicator of
    how well that particular function is working.  Green means the last call
    succeeded.  Yellow means the call is in progress.  Red means the last call
    failed for some reason.  You can hover over an LED to get a tool tip that will
    provide more information.
</p>
<h6>
    3. Peer to Peer Discovery Web
    Service LED
</h6>
<p>
    This LED shows the status of the
    last Peer to Peer discovery web service call. This call lets the central
    Terrarium server know about the existence of this Terrarium in the
    Ecosystem.
</p>
<h6>
    4. Sent Peer to Peer Request
    LED
</h6>
<p>
    This LED shows the status of the
    last sent Peer to Peer Request. This request is made when your Terrarium wants
    to Teleport an animal to another Peer.
</p>
<h6>
    5. Received Peer to Peer Request
    LED
</h6>
<p>
    This LED shows the status of the
    last received Peer to Peer Request. This request is made when another Peer wants
    to Teleport an animal into your Terrarium.
</p>
<h6>6. Environment Statistics</h6>
<p>
    This provides details about the
    current state of the client.  The <b>Animals</b> area shows you the current and
    maximum population of your client.  The <b>Peers</b> area indicates how many
    peers are currently in the Ecosystem.  The <b>Teleport</b> area shows various
    teleport statistics.  The format looks like the following:
</p>
<p>
    <b>
        <span style="FONT-SIZE: 8pt; COLOR: #ff6600">Teleport:</span>
    </b><b>
        <span style="FONT-SIZE: 8pt">
            &lt;total&gt;<span style="COLOR: #ff6600">
                (
            </span>&lt;local&gt;<span style="COLOR: #ff6600">/</span>&lt;remote&gt;<span style="COLOR: #ff6600">/</span>&lt;send failed&gt;<span style="COLOR: #ff6600">/</span>&lt;receive failed&gt;<span style="COLOR: #ff6600">)</span>
        </span>
    </b>
</p>
<p> </p><span style="FONT-SIZE: 10pt; FONT-FAMILY: Verdana">
    <br style="PAGE-BREAK-BEFORE: always" clear=all>
</span>
<p><h5>Control Panel</h5></p>
<p>
    The <b>Control Panel</b> is how you interact with the
    Terrarium world.  With it, you will introduce your critters into the world, see
    a map of your local Terrarium and be informed of critical events that occur.
</p>
<p align="center">
    <img src="~/images/Documentation/image003.jpg">
</p>
<h6>1. Join Ecosystem Button</h6>
<p>
    This will allow you to join the
    global Ecosystem if you are currently in Terrarium mode.  If you are in
    Ecosystem mode already, then this button will be disabled.
</p>
<h6>2. New Terrarium Button</h6>
<p>
    This will allow you to create a
    new Terrarium to use for offline purposes.  If the client is in Ecosystem mode,
    then this will switch it to Terrarium mode.
</p>
<h6>3. Open Terrarium Button</h6>
<p>
    This button allows you to open an
    existing Terrarium that was previously saved.  If the client is in Ecosystem
    mode, then this will switch it to Terrarium mode.
</p>
<h6>4. Add Button</h6>
<p>
    This enables you to introduce a
    critter into the Terrarium.  A dialog will be displayed that will allow you to
    pick a critter from the server, or<b> Browse</b> locally to find your critter. 
    This control will not be displayed if the client is in Ecosystem mode.
</p>
<h6>5. Critter List Combo Box</h6>
<p>
    This will contain a list of the
    different critters that have been introduced previously into this Terrarium. 
    You use this in conjunction with the <b>Insert Critter Button</b> to add more
    instances of a particular critter to the Terrarium.  This control will not be
    displayed if the client is in Ecosystem mode.
</p>
<h6>6. Insert Critter Button</h6>
<p>
    This adds a new instance of the
    critter that is currently selected in the <b>Critter List Combo Box</b>.  This
    control will not be displayed if the client is in Ecosystem mode.
</p>
<h6>7. Pause Button</h6>
<p>
    When in Terrarium mode, this
    allows you to pause the action of the critters.  This is very usefully for
    debugging.  Pressing it again will resume the critters.
</p>
<h6>8. Minimap</h6>
<p>
    This is a zoomed out, overhead
    view of the world.  Each dot represents a critter, drawn in the marking color
    the author has chosen.  You can use this as a quick way to judge how well your
    critter is doing.  You can also use the Minimap as a quick navigation tool by
    clicking on it.  The game view will center to the area you clicked on.  The
    white frame on the mini map indicates the current location of the game view. The
    teleporter is represented by a deep blue dot and plants by green dots.
</p>
<h6>9. Game Trace</h6>
<p>
    The Game Trace window gives you
    details about what animals are being teleported into your Terrarium. It <i>
        does
        not
    </i> show animal Trace information.  You must use the “Trace” button in the
    Bottom Bar to view animal trace information.
</p>
<h6>10. Introduce Critter Button</h6>
<p>
    Use this button to introduce an
    animal to the Ecosystem. After you create an animal, and test it out on your own
    Terrarium, this is the way to introduce it into the Ecosystem.  If the client is
    currently in Terrarium mode, this control will not be visible.
</p>
<h6>11. Reintroduce Critter Button</h6>
<p>
    Use this button to reintroduce an
    animal that has gone extinct (i.e. one that has been killed off from every
    Terrarium in the Ecosystem). Only extinct animals show up in the Reintroduce
    Animal window that this button launches.  If the client is currently in
    Terrarium mode, this control will not be visible.
</p><b>
    <span style="FONT-SIZE: 12pt; FONT-FAMILY: Arial">
        <br style="PAGE-BREAK-BEFORE: always" clear=all>
    </span>
</b>
<h5>Bottom Bar</h5>
<p>
    The <b>Bottom Bar</b> provides access to the various dialogs
    you will use to interact with the client.  It also contains a status bar and the
    ability to resize the main client window.
</p>
<p> </p>
<p align="center">
    <img src="~/images/Documentation/image004.jpg">
</p>
<h6>1. Settings Button</h6>
<p>
    This button will bring up the
    <b>Game Settings</b> dialog where you can change various settings such as your
    email address, what server to connect to and the current color scheme used by
    the client.
</p>
<h6>2. Details Button</h6>
<p>
    This button will display the
    <b>Details</b> dialog.  This allows you to view detailed information about the
    current state of a critter in your Terrarium.
</p>
<h6>3. Statistics Button</h6>
<p>
    Pressing this will display the
    <b>Statistics</b> dialog.  This displays statistics such as population, births,
    deaths and teleport numbers for each species living in your Terrarium.
</p>
<h6>4. Trace Button</h6>
<p>
    This button will display the
    <b>Trace</b> dialog.  This dialog displays diagnostic information from the game
    engine as well as any trace data critters emit via the <b>WriteTrace</b>
    method.
</p>
<h6>5. Ticker Display</h6>
<p>
    This control scrolls through
    various statistics and information about the Terrarium client and Ecosystem.
</p>
<h6>6. Resize Handle</h6>
<p>
    The resize handle allows you to
    resize the Terrarium client, much like a traditional window.
</p>
<h5>Game View</h5>
<p>
    The game view is your window into the Terrarium.  You can
    watch the battle of life as it unfolds on your desktop!
</p>
<p align="center">
    <img src="~/images/Documentation/image005.jpg">
</p>
<h6>1. Background</h6>
														This is the world that the
														critters in Terrarium walk on.  The graphics used will often have random details
														in it such as rocks, scratches or other items.  These do not affect game play
														and are just cosmetic.
<h6>2. Plant</h6>
														This is a <b>Plant</b> in the
														Terrarium.  Plants are food for Herbivores.  There are several different
														graphics used for Plants.
<h6>3. Critter</h6>
														This is a critter.  These are
														what you will program and introduce into the Terrarium.   There are several
														graphics to choose from known as <b>Skins</b>.  This one is using the
<b>Beetle</b> skin.
<h6>4. Teleporter</h6>
														The blue ball is known as the
<b>Teleporter</b>.  If it runs over a <b>Plant</b> or a <b>Critter</b>, it will
														attempt to send it to another client.  If you are in Terrarium mode, or the send
														fails, you will see it spit the item back out to a random location.
